*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hover-color: #2196f3;
}

body {
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* хедер */

.header {
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-first-part {
  color: #2196f3;
}
/*site nav */
.site-nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--hover-color);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--hover-color);
}

.auth-nav-link {
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.current {
  color: var(--hover-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* main */

/* HERO */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;

  margin-top: 0;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
}
/* WORK */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.section-work.section {
  padding-top: 0;
  padding-bottom: 94px;
}

.section-work {
  background-color: blueviolet;
}

/* feature */

.feature-section {
  background-color: aqua;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
}

/* OUR TEAM */

.teammates-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.our-team {
  background-color: var(--secondary-background-color);
}

.teammates-position {
  font-size: 16px;
  line-height: 1.18;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-second-part {
  color: white;
}

.footer-address {
  margin-top: 20px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.address-link:focus,
.address-link:hover {
  color: var(--hover-color);
}

.address-nav {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-nav:focus,
.address-nav:hover {
  color: var(--hover-color);
}

/* portfolio */

.portfolio-list {
  margin-bottom: 50px;
}

.portfolio-button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
}

.portfolio-button:focus,
.portfolio-button:hover {
  background: #2196f3;
  color: #ffffff;
}

.project-name {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
}
